<!DOCTYPE html><html><head>
  <script src="p5.js"></script>
  <script src="ml5.min.js"></script>
  <title>캡스톤 데모</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/model2.css" />
  <link rel=" shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico">

</head>


<body>
  <p id="exercise_name"> </p>
  <p id="mention"> </p>
  <p id="method"> </p>
  <p id="count"> </p>

  <p id="image"> </p>
  <p id="Canvas"></p>


<body>
  <script src="ex_goodmorning.js"></script>


</body></html>
