<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/index.css" />
    <title>캡스톤 데모</title>
    <meta charset="utf-8" />
    <link rel=" shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap"
      rel="stylesheet"
    />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
    </style>
  </head>

  <body>
    <div class="box">
      <div class="title">Fit Me</div>
      <div class="confirm__user">
        <a href="intro.html"><span class="confirm__user_1">회원가입 </span></a>
        <span>/</span>
        <a href="show.html"><span class="confirm__user_2"> 로그인</span></a>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/9a537ce525.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
