<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/exam.css" />
    <title>캡스톤 데모</title>
    <meta charset="utf-8" />
    <link rel=" shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
    <style>
      img {
        width: 280px;
        position: absolute;
        bottom: 8px;
        left: 320px;
      }
      @import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
    </style>
  </head>

  <body>
    <div class="box">
      <div class="small-box">
        <div class="title">프로젝트 설명</div>
        <div class="content_intro" style="font-size: 23px">
          해당 프로젝트에서는 전반적인 건강증진을 하고자 하는
        </div>
        <div class="content_intro" style="font-size: 23px">
          사용자들을 대상으로, 기존 홈트레이닝 서비스의 장점인
        </div>
        <div class="content_intro" style="font-size: 23px">
          원하는 시간과 장소에서 운동을 할 수 있다는 점을 유지하면서
        </div>
        <div class="content_intro" style="font-size: 23px">
          사용자의 성격 요인 및 입력값으로 받아
        </div>
        <div class="content_intro" style="font-size: 23px">
          다양한 운동 자세를 조합한 운동 코스를 추천해주는
        </div>
        <div class="content_intro" style="font-size: 23px">
          추천시스템을 설계했습니다.
        </div>
        <div class="content_intro" style="font-size: 23px">
          또한 잘못된 자세에 따른 부상위험을 방지해주는
        </div>
        <div class="content_intro" style="font-size: 23px">
          Posenet기반 모션 인식을 제공하는 서비스를 제공합니다.
        </div>
      </div>
    </div>
    <div>
      <a href="join.html" class="a__">
        <i class="fas fa-arrow-right"></i>
      </a>
    </div>
    <script
      src="https://kit.fontawesome.com/9a537ce525.js"
      crossorigin="anonymous"
    ></script>
    <img src="png/png1.png" />
  </body>
</html>
