<!DOCTYPE html>
<html>
  <head>
    <title>캡스톤 데모</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/introduction.css" />
    <link rel=" shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
    <meta http-equiv="refresh" content="5;ex_lateral_raise.html" />
  </head>



<body>
  <div class="box">
  <div class="small-box">
    <div class="title">상체 근력 운동</div>
    <div class="content_intro">
    <div class = "content_ex">상체 근력 강화를 위한 운동입니다.<div>
    <!-- <div class = "content_ex">레터럴 레이즈 -> 굿모닝 -> Y레이즈<div> -->
    <img class = "stretch_list" src = "./data/list1.png" width="600" height="300">

      
  </div>
</div>

<a href="./ex_lateral_raise.html">
  <div class="button">5초 후 자동으로 시작됩니다.</div>
</a>
</body>

</html>
