<!DOCTYPE html><html><head>
  <title>캡스톤 데모</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="css/introduction.css" />
  <link rel=" shortcut icon" href="favicon.ico">
  <link rel="icon" href="favicon.ico">

</head>


<body>
  <div class="box">
  <div class="small-box">
    <div class="title">외향성 운동 프로그램</div>
    <div class="content_intro">
    <div class = "content_ex">준비 운동 : 목스트레칭 -> 양팔 스트레칭 -> 가슴 스트레칭 -> 옆구리 스트레칭 -> 허리 스트레칭<div>
    <div class = "content_ex">유산소 운동 : 제자리뛰기 -> 사이드 점핑<div>
    <div class = "content_ex">상체 근력 운동 :숄더프레스 2세트 -> 굿모닝 2세트 -> Y레이즈 2세트<div>
    <div class = "content_ex">하체 근력 운동 :스쿼트 2세트 -> 와이드 스쿼트 자세에서 옆구리 운동 2세트 -> 런지 2세트<div>
    <div class = "content_ex">마무리 운동 : 제자리 걷기 -> 숨쉬기<div>
    </div>
</div>
<a href="./ex_neck.html">
  <div class="button">운동 시작</div>
</a>
</body>
</html>