<!DOCTYPE html>
<html>
  <head>
    <title>캡스톤 데모</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/introduction.css" />
    <link rel=" shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
    <meta http-equiv="refresh" content="5;ex_neck.html" />
  </head>




<body>
  <div class="box">
  <div class="small-box">
    <div class="title">준비운동</div>
    <div class="content_intro">
    <div class = "content_ex">운동 전 부상 방지를 위해 하는 스트레칭입니다<div>
    <!-- <div class = "content_ex">목스트레칭 -> 양팔 스트레칭 -> 가슴 스트레칭 -> 옆구리 스트레칭 -> 허리 스트레칭<div> -->
    <img class = "stretch_list" src = "stretch_list.png" alt ="스트레칭" width="600" height="300">
  </div>
</div>

<a href="./ex_neck.html">
  <div class="button">5초 후 자동으로 시작됩니다.</div>
</a>
</body>

</html>
