<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/exam.css" />
    <title>캡스톤 데모</title>
    <meta charset="utf-8" />
    <link rel=" shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
    <style>
      img {
        transform: rotate(0deg);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        position: absolute;
        bottom: 20px;
        right: 850px;
        width: 300px;
      }
      @import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
    </style>
  </head>

  <body>
    <div class="box">
      <div class="small-box__">
        <form><input type="text" placeholder="닉네임" /></form>
        <form><input type="text" placeholder="키" /></form>
        <form><input type="text" placeholder="몸무게" /></form>
      </div>
    </div>
    <a href="exam1.html" class="a__">
      <i class="fas fa-arrow-right"></i>
    </a>
    <script
      src="https://kit.fontawesome.com/9a537ce525.js"
      crossorigin="anonymous"
    ></script>
    <img src="png/png5.png" />
  </body>
</html>
