<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/exam_default.css" />
    <title>캡스톤 데모</title>
    <meta charset="utf-8" />
    <link rel=" shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
    <style>
      img {
        width: 180px;
        position: absolute;
        bottom: 20px;
        right: 1700px;
      }
      @import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
    </style>
  </head>
  <body>
    <p>당신이 속한 그룹은 아래와 같습니다.</p>
    <p>{{data}}</p>
  </body>
  <script
    src="https://kit.fontawesome.com/9a537ce525.js"
    crossorigin="anonymous"
    location.href="/option"
  ></script>
</html>
