<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/login.css" />
    <title>캡스톤 데모</title>
    <meta charset="utf-8" />
    <link rel=" shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
    <style>
      .png2 {
        transform: rotate(0deg);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        position: absolute;
        bottom: 11px;
        right:950px;
        width: 340px;
      }
      @import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
    </style>
  </head>

  <body>
    <div class="box">
      <div class="small-box">
        <div class="title">오늘의 운동 프로그램</div>
        <div class="content_intro">
        <div class = "content_ex">준비 운동<div>
          <div class = "content_ex__">가볍게 걷기 –> 제자리 뛰기 ->  Go back 걷기 -> 사이드 점핑 -> 스케이트 스텝<div>
            <div class = "content_ex">메인 운동<div>
        <div class = "content_ex__">백 리버스 플라-> 암로테이션-> 벤트오버 레터럴 레이즈-> 벤트오버 Y레이즈->암워크-> 굿모닝->코브라 레이즈->트라이셉 익스텐션-> 숄더 프레스<div>
        <div class = "content_ex">마무리 운동<div>
        <div class = "content_ex__">고양이 자세 -> 반활 자세<div>
        </div>
      </div>
    </div>
    <a href="introduction1.html">
      <div class="button">운동 시작</div>
    </a>
    <script
      src="https://kit.fontawesome.com/9a537ce525.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
