<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/login.css" />
    <title>캡스톤 데모</title>
    <meta charset="utf-8" />
    <link rel=" shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
    <style>
      .png2 {
        transform: rotate(0deg);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        position: absolute;
        bottom: 11px;
        right:950px;
        width: 340px;
      }
      @import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
    </style>
  </head>

  <body>
    <div class="box">
      <div class="small-box">
        <div class="title">오늘의 운동 프로그램</div>
        <div class="content_intro">
        <div class = "content_ex">준비 운동<div>
        <div class = "content_ex__">목스트레칭 -> 이두 스트레칭 -> 삼두 스트레칭 -> 가슴 스트레칭 -> 옆구리 스트레칭 -> 허리 스트레칭 <div>
        <div class = "content_ex">메인 운동<div>
        <div class = "content_ex__">팔 들기 -> 팔 돌리기 -> 삼두 스트레칭 -> 레터럴 스트레칭 -> 힙 힌지 암 레이즈 -> 굿모닝 -> 크런치 -> 나비자세 변형 -> 더블 'ㄱ'자 스트레칭 -> 앉아서 다리 뻗기 -> 누워서 고관절, 엉덩이 풀기<div>
        <div class = "content_ex">마무리 운동<div>
          <div class = "content_ex__">하체 스트레칭 -> 스파인 트위스트 -> 컬업 -> 고양이, 소자세 -> 롤링라이크어볼<div>
          </div>
      </div>
    </div>
    <a href="introduction1.html">
      <div class="button">운동 시작</div>
    </a>
    <script
      src="https://kit.fontawesome.com/9a537ce525.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
