<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/login.css" />
    <title>캡스톤 데모</title>
    <meta charset="utf-8" />
    <link rel=" shortcut icon" href="favicon.ico" />
    <link rel="icon" href="favicon.ico" />
    <style>
      .png2 {
        transform: rotate(0deg);
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
        position: absolute;
        bottom: 11px;
        right:950px;
        width: 340px;
      }
      @import url("https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
    </style>
  </head>

  <body>
    <div class="box">
      <div class="small-box">
        <div class="title">오늘의 운동 프로그램</div>
        <div class="content_intro">
        <div class = "content_ex">준비 운동<div>
        <div class = "content_ex__">가볍게 걷기 –> 제자리 뛰기 ->  사이드 점핑 -> 스케이트 스텝<div>
        <div class = "content_ex">메인 운동<div>
        <div class = "content_ex__">힙 힌지->  스플릿 스쿼트-> 힙 익스텐션-> 마운틴 클라이머-> 옆으로 누워서 사이드킥->circle-> 와이드 스쿼트 -> 힙 abduction <div>
        <div class = "content_ex">마무리 운동<div>
        <div class = "content_ex__">딥런지 -> 피존 -> 싱글레이즈 당기기<div>
        </div>
      </div>
    </div>
    <a href="introduction1.html">
      <div class="button">운동 시작</div>
    </a>
    <script
      src="https://kit.fontawesome.com/9a537ce525.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
